.img{
  
    border-radius: 50px;
    height: 100px;
    width: 100px;
    margin-bottom: 10px;
  }
  .fondo:checked~::before{
    background-color: #ffc107 !important ;
  }
  .color1{
    color: #ffc107 !important;
  }
  .color2{
    color: white;
  }
  a.color2:hover{
 color: white !important;
  }
  .perguntas{
    margin: 10px;
  }
  .custom-control-input:checked~.custom-control-label::before {
background-color:  #ffc107;
border:#ffc107 ;
 

  }
  .main{
    margin-top: 20px;
  }
  .page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color:  #ffc107;
    border:solid 1px #ffc107 ;
}
.page-link {
  position: relative;
  display: block;
  padding: .5rem .75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: black;
  background-color: #fff;
  border: 1px solid #dee2e6;
}